pipeline/csv_to_db_not_chche_order_received_rest.json
{
	"name": "csv_to_db_not_chche_order_received_rest",
	"properties": {
		"activities": [
			{
				"name": "CsvDataInMiddleTable",
				"description": "CSV ファイルから読み込んだデータを cache に保存します。",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEachGetLatestDatetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "csv_db_bulk_backlog_middle_table",
						"type": "DataFlowReference",
						"parameters": {
							"latestDateTime": {
								"value": "'@{variables('latestDatetimeFileName')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ExitCsvFile",
				"description": "処理対象のフォルダに CSV ファイルが存在する場合にのみ後続の処理を実行します。",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CsvDataInMiddleTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('CsvDataInMiddleTable').output.runStatus.metrics.csvDataInMiddleTable.sources.csvFileRead.details.fileReadCount[0], 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DeleteInsertCsvDataAndGroupByFileName",
							"description": "CSV ファイルから読み込んだデータを DELETE INSERT します",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "test_db_nsw_link_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "BEGIN TRY\n\t\t\n\tBEGIN TRANSACTION;\n\n\t-- 対象テーブルの内、年月が前月、当月、来月、当月より 2 年前のデータのみ削除\n\tDELETE FROM backlog\n\tWHERE\n\t\tsystem_date IN\n\t\t(\n\t\t\tSELECT\n\t\t\t\tsystem_date\n\t\t\tFROM\n\t\t\t\tbacklog_middle_table\n\t\t\tGROUP BY\n\t\t\t    system_date\n\t\t)\n\t\tOR\n\t\tsystem_date <= FORMAT(DATEADD(YEAR, -2, GETDATE() AT TIME ZONE 'UTC' AT TIME ZONE 'Tokyo Standard Time'), 'yyyyMM');\n\n\t-- CSV ファイルから読み込んだデータを対象テーブルに INSERT\n\tINSERT INTO backlog\n\t(\n\t\tsystem_date,\n\t\tsales_id,\n\t\tline_num,\n\t\tvoucher_type,\n\t\tcust_account,\n\t\tcust_short_name,\n\t\tsales_ship_to_account_num,\n\t\tsales_ship_to_short_name,\n\t\tcust_collections,\n\t\tsales_cust_collection_short_name,\n\t\tsales_vend_account_num,\n\t\tsales_vend_name_alias,\n\t\tsales_office,\n\t\tsales_office_name,\n\t\tsales_group,\n\t\tsales_group_name,\n\t\tsales_end_user_account_num,\n\t\tsales_end_user_short_name,\n\t\tinvoice_account,\n\t\tsales_invoice_short_name,\n\t\tsales_invoice_name,\n\t\tsales_person,\n\t\tsales_person_name,\n\t\tsales_consumer,\n\t\tcarrier_cd,\n\t\tcarrier_name_alias,\n\t\titem_id,\n\t\titem_name,\n\t\tpack_style_name,\n\t\tshipping_name_code,\n\t\tshipping_name,\n\t\ttrade_mark_code,\n\t\ttrade_mark_name,\n\t\tsales_item_class_code,\n\t\tsales_item_class_name,\n\t\tproduct_item_group_code,\n\t\tproduct_item_group_name,\n\t\tsales_item_group_code,\n\t\tsales_item_group_name,\n\t\tinvent_site_id,\n\t\tinvent_site_name,\n\t\tinvent_location_id,\n\t\tinvent_location_name,\n\t\tcontract_unit_qty,\n\t\tcontract_unit_price_uom,\n\t\tsales_qty,\n\t\tsales_unit,\n\t\tsales_amount,\n\t\tinvoice_contract_unit_qty,\n\t\tinvoice_contract_unit_price_uom,\n\t\tinvoice_amount,\n\t\tinvoice_additional_costs,\n\t\tbacklog_amount,\n\t\taccounting_currency,\n\t\tinvoice_date,\n\t\tprocessing_date,\n\t\tcreated_by,\n\t\tcreated_date_time,\n\t\tshipping_date_requested,\n\t\treceipt_date_requested\n\t)\n\tSELECT\n\t\tsystem_date,\n\t\tsales_id,\n\t\tline_num,\n\t\tvoucher_type,\n\t\tcust_account,\n\t\tcust_short_name,\n\t\tsales_ship_to_account_num,\n\t\tsales_ship_to_short_name,\n\t\tcust_collections,\n\t\tsales_cust_collection_short_name,\n\t\tsales_vend_account_num,\n\t\tsales_vend_name_alias,\n\t\tsales_office,\n\t\tsales_office_name,\n\t\tsales_group,\n\t\tsales_group_name,\n\t\tsales_end_user_account_num,\n\t\tsales_end_user_short_name,\n\t\tinvoice_account,\n\t\tsales_invoice_short_name,\n\t\tsales_invoice_name,\n\t\tsales_person,\n\t\tsales_person_name,\n\t\tsales_consumer,\n\t\tcarrier_cd,\n\t\tcarrier_name_alias,\n\t\titem_id,\n\t\titem_name,\n\t\tpack_style_name,\n\t\tshipping_name_code,\n\t\tshipping_name,\n\t\ttrade_mark_code,\n\t\ttrade_mark_name,\n\t\tsales_item_class_code,\n\t\tsales_item_class_name,\n\t\tproduct_item_group_code,\n\t\tproduct_item_group_name,\n\t\tsales_item_group_code,\n\t\tsales_item_group_name,\n\t\tinvent_site_id,\n\t\tinvent_site_name,\n\t\tinvent_location_id,\n\t\tinvent_location_name,\n\t\tcontract_unit_qty,\n\t\tcontract_unit_price_uom,\n\t\tsales_qty,\n\t\tsales_unit,\n\t\tsales_amount,\n\t\tinvoice_contract_unit_qty,\n\t\tinvoice_contract_unit_price_uom,\n\t\tinvoice_amount,\n\t\tinvoice_additional_costs,\n\t\tbacklog_amount,\n\t\taccounting_currency,\n\t\tinvoice_date,\n\t\tprocessing_date,\n\t\tcreated_by,\n\t\tcreated_date_time,\n\t\tshipping_date_requested,\n\t\treceipt_date_requested\n\tFROM\n\t\tbacklog_middle_table\n\n\tCOMMIT TRANSACTION;\n\nEND TRY\n\nBEGIN CATCH\n\n\tROLLBACK TRANSACTION;\n\n\t-- ADF に異常終了を伝えるため\n\tTHROW;\n\nEND CATCH"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "TruncateMiddelTableAfterCsvFileDelete",
							"description": "中間テーブルのテーブルデータを全削除します。\n次のアクティビティで CSV ファイルを削除します。",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "DeleteInsertCsvDataAndGroupByFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "test_db_nsw_link_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "BEGIN TRY\r\n\r\n    -- 中間テーブルに格納されているデータを削除\r\n    TRUNCATE TABLE backlog_middle_table;\r\n\r\nEND TRY\r\n\r\nBEGIN CATCH\r\n\r\n\t-- ADF に異常終了を伝えるため\r\n\tTHROW;\r\n\r\nEND CATCH"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "TruncateMiddelTableNotAfterCsvFileDelete",
							"description": "中間テーブルのテーブルデータを全削除します。\n次のアクティビティで CSV ファイルを削除しません",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "DeleteInsertCsvDataAndGroupByFileName",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "test_db_nsw_link_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "BEGIN TRY\r\n\r\n    -- 中間テーブルに格納されているデータを削除\r\n    TRUNCATE TABLE backlog_middle_table;\r\n\r\nEND TRY\r\n\r\nBEGIN CATCH\r\n\r\n\t-- ADF に異常終了を伝えるため\r\n\tTHROW;\r\n\r\nEND CATCH"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "DeleteCsvFile",
							"description": "対象のフォルダ配下に存在するアイテムの内、プレフィックスが \"backlog_\" の CSV ファイルのみ削除します。",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "TruncateMiddelTableAfterCsvFileDelete",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "blob_storage_order_received_rest",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "backlog_*.csv",
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "TruncateMiddelTableIfExitMiddelTableData",
				"description": "中間テーブルにレコードが存在する場合にのみ、中間テーブルのテーブルデータを全削除します。",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "test_db_nsw_link_service",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "BEGIN TRY\r\n\r\n    DECLARE @RecordCount INT;\r\n\r\n\tSELECT @RecordCount = COUNT(sales_id)\r\n\tFROM backlog_middle_table;\r\n\r\n\t-- 中間テーブルにレコードが存在する場合\r\n\tIF @RecordCount > 0\r\n\tBEGIN\r\n\t\t-- 中間テーブルに格納されているデータを削除\r\n\t\tTRUNCATE TABLE backlog_middle_table;\r\n\tEND\r\n\r\nEND TRY\r\n\r\nBEGIN CATCH\r\n\r\n\t-- ADF に異常終了を伝えるため\r\n\tTHROW;\r\n\r\nEND CATCH"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "CsvDataInMiddleTable",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@string(activity('CsvDataInMiddleTable').output.sinkErrors)",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@string(500)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetFileNameList",
				"description": "対象のフォルダ配下に存在するアイテム一覧を取得します。",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "TruncateMiddelTableIfExitMiddelTableData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "blob_storage_order_received_rest",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterCsvFile",
				"description": "取得したアイテムの内、プレフィックスが \"backlog_\" のCSV ファイルのみを抽出します。",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileNameList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNameList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(startswith(item().name, 'backlog'), endswith(item().name, 'csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachGetLatestDatetime",
				"description": "フィルタリングで残った CSV ファイルの数だけループします。",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterCsvFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterCsvFile').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LatestDatetimeFileNameIsEmpty",
							"description": "latestDatetimeFileName の値が empty かどうか判断します。",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(variables('latestDatetimeFileName'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SetTempLatestDatetimeFileName",
										"description": "tempLatestDatetimeFileName に latestDatetimeFileName の値を設定します。",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "tempLatestDatetimeFileName",
											"value": {
												"value": "@variables('latestDatetimeFileName')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "SetLatestDatetimeFileName",
										"description": "ForEach に渡されたファイル名の日時と tempLatestDatetimeFileName の日時を比較し、最新の日時のファイル名のみを保持します。",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "SetTempLatestDatetimeFileName",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestDatetimeFileName",
											"value": {
												"value": "@if(greater(substring(item().name, 22, 14), substring(variables('tempLatestDatetimeFileName'), 22, 14)), item().name, variables('tempLatestDatetimeFileName'))",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SetFileName",
										"description": "latestDatetimeFileName に ForEach に渡されたファイル名を設定します。",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestDatetimeFileName",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"latestDatetimeFileName": {
				"type": "String"
			},
			"tempLatestDatetimeFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "受注残/CSV データを中間テーブルに保存"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-09T04:54:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}