pipeline/plstatement.json
{
	"name": "plstatement",
	"properties": {
		"activities": [
			{
				"name": "ExitCsvFile",
				"description": "処理対象のフォルダに CSV ファイルが存在する場合にのみ後続の処理を実行します。",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ForEachGetLatestDatetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('FilterCsvFile').output.FilteredItemsCount, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DeleteInsertCsvDataAndGroupByFileName",
							"description": "CSV ファイルから読み込んだデータを DELETE INSERT します",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "CsvDataInMiddleTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "test_db_nsw_link_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "BEGIN TRY\n\t\t\n\tBEGIN TRANSACTION;\n\n\t-- 対象テーブルの内、年月が前月、当月、来月、当月より 2 年前のデータのみ削除\n\tDELETE FROM plstatement\n\tWHERE\n\t\tbillinig_date IN\n\t\t(\n\t\t\tSELECT\n\t\t\t\tbillinig_date\n\t\t\tFROM\n\t\t\t\ttemp_plstatement\n\t\t\tGROUP BY\n\t\t\t    billinig_date\n\t\t)\n\t\tOR\n\t\tbillinig_date <= FORMAT(DATEADD(YEAR, -2, GETDATE() AT TIME ZONE 'UTC' AT TIME ZONE 'Tokyo Standard Time'), 'yyyyMM');\n\n\t-- CSV ファイルから読み込んだデータを対象テーブルに INSERT\n\tINSERT INTO plstatement\n\t(\n\t\tsystem_date,\n\t    sales_id,\n\t    line_num,\n\t    corporate_code,\n\t    source_id,\n\t    voucher_type,\n\t    sales_office,\n\t    sales_office_name,\n\t    sales_group,\n\t    sales_group_name,\n\t    cust_account,\n\t    cust_short_name,\n\t    phone_number,\n\t    sales_ship_to_account_num,\n\t    sales_ship_to_short_name,\n\t    sales_ship_to_name,\n\t    sales_ship_to_name2,\n\t    sales_ship_to_belonging,\n\t    sales_ship_to_name_notes,\n\t    sales_ship_to_prefectures,\n\t    sales_ship_to_municipality,\n\t    sales_ship_to_address,\n\t    sales_ship_to_building_name,\n\t    sales_ship_to_address_notes,\n\t    sales_ship_to_remarks1,\n\t    sales_ship_to_remarks2,\n\t    sales_ship_to_remarks3,\n\t    sales_ship_to_phone_num,\n\t    sales_end_user_account_num,\n\t    sales_end_user_short_name,\n\t    invoice_account,\n\t    sales_invoice_short_name,\n\t    sales_invoice_name,\n\t    sales_invoice_name2,\n\t    sales_invoice_belonging,\n\t    sales_invoice_name_notes,\n\t    sales_invoice_post_code,\n\t    sales_invoice_prefectures,\n\t    sales_invoice_municipality,\n\t    sales_invoice_address,\n\t    sales_invoice_building_name,\n\t    sales_invoice_address_notes,\n\t    sales_invoice_remarks1,\n\t    sales_invoice_remarks2,\n\t    sales_invoice_remarks3,\n\t    cust_collections,\n\t    sales_cust_collection_short_name,\n\t    sales_person,\n\t    sales_person_name,\n\t    carrier_cd,\n\t    carrier_name_alias,\n\t    oem_cd,\n\t    oem_name,\n\t    oem_name2,\n\t    oem_prefectures,\n\t    oem_municipality,\n\t    oem_address,\n\t    oem_building_name,\n\t    oem_address_notes,\n\t    oem_remarks1,\n\t    oem_remarks2,\n\t    oem_remarks3,\n\t    sales_vend_account_num,\n\t    sales_vend_name_alias,\n\t    customer_requirements,\n\t    billing_block,\n\t    item_id,\n\t    item_name,\n\t    pack_style_name,\n\t    shipping_name_code,\n\t    shipping_name,\n\t    trade_mark_code,\n\t    trade_mark_name,\n\t    sales_item_class_code,\n\t    sales_item_class_name,\n\t    product_item_group_code,\n\t    product_item_group_name,\n\t    sales_item_group_code,\n\t    sales_item_group_name,\n\t    shipping_type,\n\t    truck_scale_type,\n\t    product_type,\n\t    correction_category,\n\t    invent_site_id,\n\t    invent_site_name,\n\t    invent_location_id,\n\t    invent_location_name,\n\t    receipt_date_requested,\n\t    shipping_date_requested,\n\t    shipping_date,\n\t    sales_status,\n\t    delivery_method,\n\t    delivery_method_description,\n\t    detailed_status,\n\t    customer_delete_flag,\n\t    customer_delete_reason,\n\t    purchase_order_number,\n\t    purchase_order_status,\n\t    picking_route,\n\t    inventory_order,\n\t    picking_status,\n\t    line_status,\n\t    truck_scale_completion_flag,\n\t    invoice,\n\t    invoice_line_num,\n\t    invoice_date,\n\t    delivery_note_category,\n\t    delivery_note_category_name,\n\t    closing_date,\n\t    created_date_time,\n\t    created_by,\n\t    shipping_terms,\n\t    shipping_terms_description,\n\t    payment_terms,\n\t    payment_terms_description,\n\t    sales_consumer,\n\t    updated_date_time,\n\t    updated_by,\n\t    profit_and_loss_department,\n\t    qty_per_pack,\n\t    sales_qty,\n\t    sales_unit,\n\t    contract_unit_qty,\n\t    contract_unit_price_uom,\n\t    contract_unit_price,\n\t    net_amount,\n\t    shipping_qty,\n\t    invoice_qty,\n\t    invoice_unit_qty,\n\t    invoice_contract_unit_price,\n\t    invoice_net_amount,\n\t    consumption_tax,\n\t    tax_rate,\n\t    factory_variable_costs,\n\t    factory_fixed_costs,\n\t    direct_delivery_variable_costs,\n\t    one_price_variable_costs,\n\t    one_price_fixed_costs,\n\t    accounting_currency,\n\t    countryregionid,\n\t    country,\n\t    billinig_date\n\t)\n\tSELECT\n\t\tsystem_date,\n\t    sales_id,\n\t    line_num,\n\t    corporate_code,\n\t    source_id,\n\t    voucher_type,\n\t    sales_office,\n\t    sales_office_name,\n\t    sales_group,\n\t    sales_group_name,\n\t    cust_account,\n\t    cust_short_name,\n\t    phone_number,\n\t    sales_ship_to_account_num,\n\t    sales_ship_to_short_name,\n\t    sales_ship_to_name,\n\t    sales_ship_to_name2,\n\t    sales_ship_to_belonging,\n\t    sales_ship_to_name_notes,\n\t    sales_ship_to_prefectures,\n\t    sales_ship_to_municipality,\n\t    sales_ship_to_address,\n\t    sales_ship_to_building_name,\n\t    sales_ship_to_address_notes,\n\t    sales_ship_to_remarks1,\n\t    sales_ship_to_remarks2,\n\t    sales_ship_to_remarks3,\n\t    sales_ship_to_phone_num,\n\t    sales_end_user_account_num,\n\t    sales_end_user_short_name,\n\t    invoice_account,\n\t    sales_invoice_short_name,\n\t    sales_invoice_name,\n\t    sales_invoice_name2,\n\t    sales_invoice_belonging,\n\t    sales_invoice_name_notes,\n\t    sales_invoice_post_code,\n\t    sales_invoice_prefectures,\n\t    sales_invoice_municipality,\n\t    sales_invoice_address,\n\t    sales_invoice_building_name,\n\t    sales_invoice_address_notes,\n\t    sales_invoice_remarks1,\n\t    sales_invoice_remarks2,\n\t    sales_invoice_remarks3,\n\t    cust_collections,\n\t    sales_cust_collection_short_name,\n\t    sales_person,\n\t    sales_person_name,\n\t    carrier_cd,\n\t    carrier_name_alias,\n\t    oem_cd,\n\t    oem_name,\n\t    oem_name2,\n\t    oem_prefectures,\n\t    oem_municipality,\n\t    oem_address,\n\t    oem_building_name,\n\t    oem_address_notes,\n\t    oem_remarks1,\n\t    oem_remarks2,\n\t    oem_remarks3,\n\t    sales_vend_account_num,\n\t    sales_vend_name_alias,\n\t    customer_requirements,\n\t    billing_block,\n\t    item_id,\n\t    item_name,\n\t    pack_style_name,\n\t    shipping_name_code,\n\t    shipping_name,\n\t    trade_mark_code,\n\t    trade_mark_name,\n\t    sales_item_class_code,\n\t    sales_item_class_name,\n\t    product_item_group_code,\n\t    product_item_group_name,\n\t    sales_item_group_code,\n\t    sales_item_group_name,\n\t    shipping_type,\n\t    truck_scale_type,\n\t    product_type,\n\t    correction_category,\n\t    invent_site_id,\n\t    invent_site_name,\n\t    invent_location_id,\n\t    invent_location_name,\n\t    receipt_date_requested,\n\t    shipping_date_requested,\n\t    shipping_date,\n\t    sales_status,\n\t    delivery_method,\n\t    delivery_method_description,\n\t    detailed_status,\n\t    customer_delete_flag,\n\t    customer_delete_reason,\n\t    purchase_order_number,\n\t    purchase_order_status,\n\t    picking_route,\n\t    inventory_order,\n\t    picking_status,\n\t    line_status,\n\t    truck_scale_completion_flag,\n\t    invoice,\n\t    invoice_line_num,\n\t    invoice_date,\n\t    delivery_note_category,\n\t    delivery_note_category_name,\n\t    closing_date,\n\t    created_date_time,\n\t    created_by,\n\t    shipping_terms,\n\t    shipping_terms_description,\n\t    payment_terms,\n\t    payment_terms_description,\n\t    sales_consumer,\n\t    updated_date_time,\n\t    updated_by,\n\t    profit_and_loss_department,\n\t    qty_per_pack,\n\t    sales_qty,\n\t    sales_unit,\n\t    contract_unit_qty,\n\t    contract_unit_price_uom,\n\t    contract_unit_price,\n\t    net_amount,\n\t    shipping_qty,\n\t    invoice_qty,\n\t    invoice_unit_qty,\n\t    invoice_contract_unit_price,\n\t    invoice_net_amount,\n\t    consumption_tax,\n\t    tax_rate,\n\t    factory_variable_costs,\n\t    factory_fixed_costs,\n\t    direct_delivery_variable_costs,\n\t    one_price_variable_costs,\n\t    one_price_fixed_costs,\n\t    accounting_currency,\n\t    countryregionid,\n\t    country,\n\t    billinig_date\n\tFROM\n\t\ttemp_plstatement\n\n\tCOMMIT TRANSACTION;\n\nEND TRY\n\nBEGIN CATCH\n\n\tROLLBACK TRANSACTION;\n\n\t-- ADF に異常終了を伝えるため\n\tTHROW;\n\nEND CATCH"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "TruncateMiddelTableAfterCsvFileDelete",
							"description": "中間テーブルのテーブルデータを全削除します。\n次のアクティビティで CSV ファイルを削除します。",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "DeleteInsertCsvDataAndGroupByFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "test_db_nsw_link_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "BEGIN TRY\r\n\r\n    -- 中間テーブルに格納されているデータを削除\r\n    TRUNCATE TABLE temp_plstatement;\r\n\r\nEND TRY\r\n\r\nBEGIN CATCH\r\n\r\n\t-- ADF に異常終了を伝えるため\r\n\tTHROW;\r\n\r\nEND CATCH"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "TruncateMiddelTableNotAfterCsvFileDelete",
							"description": "中間テーブルのテーブルデータを全削除します。\n次のアクティビティで CSV ファイルを削除しません",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "DeleteInsertCsvDataAndGroupByFileName",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "test_db_nsw_link_service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "BEGIN TRY\r\n\r\n    -- 中間テーブルに格納されているデータを削除\r\n    TRUNCATE TABLE temp_plstatement;\r\n\r\nEND TRY\r\n\r\nBEGIN CATCH\r\n\r\n\t-- ADF に異常終了を伝えるため\r\n\tTHROW;\r\n\r\nEND CATCH"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "DeleteCsvFile",
							"description": "対象のフォルダ配下に存在するアイテムの内、プレフィックスが \"plstatement_\" の CSV ファイルのみ削除します。",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "TruncateMiddelTableAfterCsvFileDelete",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "binary_common",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "plstatement_*.csv",
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "CsvDataInMiddleTable",
							"description": "CSV ファイルから読み込んだデータを中間テーブルに保存します。",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "csv_db_bulk_plstatement_temp_table",
									"type": "DataFlowReference",
									"parameters": {
										"latestDatetimeFileName": "'plstatement_20251105053200.csv'"
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "TruncateMiddelTableIfExitMiddelTableData",
				"description": "中間テーブルにレコードが存在する場合にのみ、中間テーブルのテーブルデータを全削除します。",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "test_db_nsw_link_service",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "BEGIN TRY\n\n    DECLARE @RecordCount INT;\n\n\tSELECT @RecordCount = COUNT(sales_id)\n\tFROM temp_plstatement;\n\n\t-- 中間テーブルにレコードが存在する場合\n\tIF @RecordCount > 0\n\tBEGIN\n\t\t-- 中間テーブルに格納されているデータを削除\n\t\tTRUNCATE TABLE temp_plstatement;\n\tEND\n\nEND TRY\n\nBEGIN CATCH\n\n\t-- ADF に異常終了を伝えるため\n\tTHROW;\n\nEND CATCH"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "GetFileNameList",
				"description": "対象のフォルダ配下に存在するアイテム一覧を取得します。",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "TruncateMiddelTableIfExitMiddelTableData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "binary_common",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterCsvFile",
				"description": "取得したアイテムの内、プレフィックスが \"plstatement_\" のCSV ファイルのみを抽出します。",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileNameList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNameList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(startswith(item().name, 'plstatement'), endswith(item().name, 'csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachGetLatestDatetime",
				"description": "フィルタリングで残った CSV ファイルの数だけループします。",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterCsvFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterCsvFile').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LatestDatetimeFileNameIsEmpty",
							"description": "latestDatetimeFileName の値が empty かどうか判断します。",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(variables('latestDatetimeFileName'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SetTempLatestDatetimeFileName",
										"description": "tempLatestDatetimeFileName に latestDatetimeFileName の値を設定します。",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "tempLatestDatetimeFileName",
											"value": {
												"value": "@variables('latestDatetimeFileName')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "SetLatestDatetimeFileName",
										"description": "ForEach に渡されたファイル名の日時と tempLatestDatetimeFileName の日時を比較し、最新の日時のファイル名のみを保持します。",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "SetTempLatestDatetimeFileName",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestDatetimeFileName",
											"value": {
												"value": "@if(greater(substring(item().name, 12, 14), substring(variables('tempLatestDatetimeFileName'), 12, 14)), item().name, variables('tempLatestDatetimeFileName'))",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SetFileName",
										"description": "latestDatetimeFileName に ForEach に渡されたファイル名を設定します。",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestDatetimeFileName",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"latestDatetimeFileName": {
				"type": "String"
			},
			"tempLatestDatetimeFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "実績損益"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-09T04:54:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}