test-nsw/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "データ ファクトリ名",
			"defaultValue": "test-nsw"
		},
		"test_blob_storage_nsw_connectionString": {
			"type": "secureString",
			"metadata": "'test_blob_storage_nsw' の 'connectionString' のセキュリティで保護された文字列"
		},
		"test_db_nsw_link_service_password": {
			"type": "secureString",
			"metadata": "'test_db_nsw_link_service' の 'password' のセキュリティで保護された文字列"
		},
		"test_db_nsw_link_service_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "test-server-nsw.database.windows.net"
		},
		"test_db_nsw_link_service_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "test-db-nsw"
		},
		"test_db_nsw_link_service_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin-user"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/test_blob_storage_nsw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('test_blob_storage_nsw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_db_nsw_link_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "test_db_nsw 用のリンクサービス",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('test_db_nsw_link_service_properties_typeProperties_server')]",
					"database": "[parameters('test_db_nsw_link_service_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('test_db_nsw_link_service_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('test_db_nsw_link_service_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_merge')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"description": "feature-furutani-1- から feature-furutani-1 にマージします。",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "test_db_nsw_link_service",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "SELECT *\nFROM test_table\nWHERE id in(63, 64);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "検証用"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/temp_backlog')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "test_db_nsw_link_service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "受注残"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "system_date",
						"type": "char"
					},
					{
						"name": "sales_id",
						"type": "varchar"
					},
					{
						"name": "line_num",
						"type": "int",
						"precision": 10
					},
					{
						"name": "voucher_type",
						"type": "nvarchar"
					},
					{
						"name": "cust_account",
						"type": "varchar"
					},
					{
						"name": "cust_short_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_account_num",
						"type": "varchar"
					},
					{
						"name": "sales_ship_to_short_name",
						"type": "nvarchar"
					},
					{
						"name": "cust_collections",
						"type": "varchar"
					},
					{
						"name": "sales_cust_collection_short_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_vend_account_num",
						"type": "varchar"
					},
					{
						"name": "sales_vend_name_alias",
						"type": "nvarchar"
					},
					{
						"name": "sales_office",
						"type": "char"
					},
					{
						"name": "sales_office_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_group",
						"type": "char"
					},
					{
						"name": "sales_group_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_end_user_account_num",
						"type": "varchar"
					},
					{
						"name": "sales_end_user_short_name",
						"type": "nvarchar"
					},
					{
						"name": "invoice_account",
						"type": "varchar"
					},
					{
						"name": "sales_invoice_short_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_person",
						"type": "varchar"
					},
					{
						"name": "sales_person_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_consumer",
						"type": "nvarchar"
					},
					{
						"name": "carrier_cd",
						"type": "varchar"
					},
					{
						"name": "carrier_name_alias",
						"type": "nvarchar"
					},
					{
						"name": "item_id",
						"type": "nvarchar"
					},
					{
						"name": "item_name",
						"type": "nvarchar"
					},
					{
						"name": "pack_style_name",
						"type": "nvarchar"
					},
					{
						"name": "shipping_name_code",
						"type": "char"
					},
					{
						"name": "shipping_name",
						"type": "nvarchar"
					},
					{
						"name": "trade_mark_code",
						"type": "char"
					},
					{
						"name": "trade_mark_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_item_class_code",
						"type": "char"
					},
					{
						"name": "sales_item_class_name",
						"type": "nvarchar"
					},
					{
						"name": "product_item_group_code",
						"type": "varchar"
					},
					{
						"name": "product_item_group_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_item_group_code",
						"type": "char"
					},
					{
						"name": "sales_item_group_name",
						"type": "nvarchar"
					},
					{
						"name": "invent_site_id",
						"type": "varchar"
					},
					{
						"name": "invent_site_name",
						"type": "nvarchar"
					},
					{
						"name": "invent_location_id",
						"type": "varchar"
					},
					{
						"name": "invent_location_name",
						"type": "nvarchar"
					},
					{
						"name": "contract_unit_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "contract_unit_price_uom",
						"type": "nvarchar"
					},
					{
						"name": "sales_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "sales_unit",
						"type": "nvarchar"
					},
					{
						"name": "sales_amount",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "invoice_contract_unit_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "invoice_contract_unit_price_uom",
						"type": "nvarchar"
					},
					{
						"name": "invoice_amount",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "invoice_additional_costs",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "backlog_amount",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "accounting_currency",
						"type": "char"
					},
					{
						"name": "invoice_date",
						"type": "date"
					},
					{
						"name": "processing_date",
						"type": "char"
					},
					{
						"name": "created_by",
						"type": "nvarchar"
					},
					{
						"name": "created_date_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "shipping_date_requested",
						"type": "date"
					},
					{
						"name": "receipt_date_requested",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "temp_backlog"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlOrderReceivedRestDiff')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "test_db_nsw_link_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "process_date",
						"type": "char"
					},
					{
						"name": "sales_order",
						"type": "varchar"
					},
					{
						"name": "detail_row_number",
						"type": "real",
						"precision": 7
					},
					{
						"name": "slip_type",
						"type": "nvarchar"
					},
					{
						"name": "client",
						"type": "char"
					},
					{
						"name": "abbreviation",
						"type": "nvarchar"
					},
					{
						"name": "shipping_destination",
						"type": "char"
					},
					{
						"name": "shipping_destination_abbreviation",
						"type": "nvarchar"
					},
					{
						"name": "collection_destination_id",
						"type": "char"
					},
					{
						"name": "collection_destination_abbreviation",
						"type": "nvarchar"
					},
					{
						"name": "supplier",
						"type": "char"
					},
					{
						"name": "supplier_search_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_office",
						"type": "char"
					},
					{
						"name": "sales_office_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_office_group",
						"type": "char"
					},
					{
						"name": "sales_office_group_name",
						"type": "nvarchar"
					},
					{
						"name": "customer",
						"type": "char"
					},
					{
						"name": "customer_abbreviation",
						"type": "nvarchar"
					},
					{
						"name": "billing_address_or_old_id",
						"type": "char"
					},
					{
						"name": "billing_address_abbreviation",
						"type": "nvarchar"
					},
					{
						"name": "billing_address_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_person",
						"type": "char"
					},
					{
						"name": "sales_person_name",
						"type": "nvarchar"
					},
					{
						"name": "consumer",
						"type": "nvarchar"
					},
					{
						"name": "carrier",
						"type": "char"
					},
					{
						"name": "carrier_search_name",
						"type": "nvarchar"
					},
					{
						"name": "item_number",
						"type": "nvarchar"
					},
					{
						"name": "text",
						"type": "char"
					},
					{
						"name": "packing_style_name",
						"type": "char"
					},
					{
						"name": "shipping_name_code",
						"type": "nvarchar"
					},
					{
						"name": "shipping_destination_name",
						"type": "nvarchar"
					},
					{
						"name": "trademark_code",
						"type": "varchar"
					},
					{
						"name": "trademark_name",
						"type": "nvarchar"
					},
					{
						"name": "goods_big_classification_code",
						"type": "char"
					},
					{
						"name": "goods_big_classification_name",
						"type": "nvarchar"
					},
					{
						"name": "product_group_code",
						"type": "char"
					},
					{
						"name": "product_group_name",
						"type": "nvarchar"
					},
					{
						"name": "goods_group_code",
						"type": "char"
					},
					{
						"name": "goods_group_name",
						"type": "nvarchar"
					},
					{
						"name": "site",
						"type": "char"
					},
					{
						"name": "site_name",
						"type": "nvarchar"
					},
					{
						"name": "warehouse",
						"type": "char"
					},
					{
						"name": "warehouse_name",
						"type": "nvarchar"
					},
					{
						"name": "contract_unit_quantity",
						"type": "real",
						"precision": 7
					},
					{
						"name": "contract_price_unit",
						"type": "nvarchar"
					},
					{
						"name": "sale_quantity",
						"type": "real",
						"precision": 7
					},
					{
						"name": "sale_unit",
						"type": "nvarchar"
					},
					{
						"name": "sale_amount",
						"type": "real",
						"precision": 7
					},
					{
						"name": "invoice_contract_unit_quantity",
						"type": "real",
						"precision": 7
					},
					{
						"name": "invoice_contract_price_unit",
						"type": "nvarchar"
					},
					{
						"name": "invoice_amount",
						"type": "real",
						"precision": 7
					},
					{
						"name": "invoice_mimscellaneous_expenses",
						"type": "real",
						"precision": 7
					},
					{
						"name": "orders_remaining_amount",
						"type": "real",
						"precision": 7
					},
					{
						"name": "accountant_currency",
						"type": "varchar"
					},
					{
						"name": "invoice_recording_date",
						"type": "date"
					},
					{
						"name": "sorting_date",
						"type": "char"
					},
					{
						"name": "author",
						"type": "varchar"
					},
					{
						"name": "create_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "shipping_scheduled_date",
						"type": "date"
					},
					{
						"name": "arrival_desired_date",
						"type": "date"
					},
					{
						"name": "file_name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "order_received_rest_diff"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/temp_budget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "test_db_nsw_link_service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "予算データ"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sales_id",
						"type": "varchar"
					},
					{
						"name": "voucher_type",
						"type": "varchar"
					},
					{
						"name": "processing_date",
						"type": "char"
					},
					{
						"name": "sales_office",
						"type": "char"
					},
					{
						"name": "sales_office_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_group",
						"type": "char"
					},
					{
						"name": "sales_group_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_consumer",
						"type": "nvarchar"
					},
					{
						"name": "sales_item_group_cd",
						"type": "char"
					},
					{
						"name": "sales_item_group_name",
						"type": "nvarchar"
					},
					{
						"name": "item_id",
						"type": "varchar"
					},
					{
						"name": "item_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "sales_amount",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "marginal_profit",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "gross_profit",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "accounting_currency",
						"type": "char"
					},
					{
						"name": "shipping_name_cd",
						"type": "char"
					},
					{
						"name": "shipping_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_unit_price",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "billing_qty_inventory_unit",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "fare",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "purchase_unit_price",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "direct_selling_costs",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "billing_price",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "variable_costs",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "shipment_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "billing_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "purchase_price",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "actual_cost",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "sales_volume",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "sales_price",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "transportation_cost",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "fixed_costs",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "created_date_time",
						"type": "char"
					},
					{
						"name": "billing_date",
						"type": "char"
					},
					{
						"name": "sales_document_details",
						"type": "varchar"
					},
					{
						"name": "voucher_type_name",
						"type": "nvarchar"
					},
					{
						"name": "customer_cd",
						"type": "varchar"
					},
					{
						"name": "customer_short_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_account_num",
						"type": "varchar"
					},
					{
						"name": "sales_ship_to_short_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_end_user_account_num",
						"type": "nvarchar"
					},
					{
						"name": "sales_end_user_short_name",
						"type": "nvarchar"
					},
					{
						"name": "invoice_account",
						"type": "varchar"
					},
					{
						"name": "sales_invoice_short_name",
						"type": "nvarchar"
					},
					{
						"name": "payer_cd",
						"type": "varchar"
					},
					{
						"name": "payer_short_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_person",
						"type": "varchar"
					},
					{
						"name": "sales_person_name",
						"type": "nvarchar"
					},
					{
						"name": "carrier_cd",
						"type": "varchar"
					},
					{
						"name": "carrier_name_alias",
						"type": "nvarchar"
					},
					{
						"name": "oem_cd",
						"type": "varchar"
					},
					{
						"name": "oem_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_vend_account_num",
						"type": "varchar"
					},
					{
						"name": "sales_vend_name_alias",
						"type": "nvarchar"
					},
					{
						"name": "pack_style_name",
						"type": "nvarchar"
					},
					{
						"name": "trade_mark_cd",
						"type": "char"
					},
					{
						"name": "trade_mark_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_item_class_cd",
						"type": "char"
					},
					{
						"name": "sales_item_class_name",
						"type": "nvarchar"
					},
					{
						"name": "product_item_group_cd",
						"type": "char"
					},
					{
						"name": "product_item_group_name",
						"type": "nvarchar"
					},
					{
						"name": "invent_site_id",
						"type": "varchar"
					},
					{
						"name": "invent_site_name",
						"type": "nvarchar"
					},
					{
						"name": "shipping_point",
						"type": "char"
					},
					{
						"name": "shipping_point_name",
						"type": "nvarchar"
					},
					{
						"name": "specified_delivery_date",
						"type": "date"
					},
					{
						"name": "delivery_date",
						"type": "date"
					},
					{
						"name": "estimated_ship_date",
						"type": "date"
					},
					{
						"name": "shipment_posting_date",
						"type": "date"
					},
					{
						"name": "purchase_order_document",
						"type": "varchar"
					},
					{
						"name": "billing_document",
						"type": "varchar"
					},
					{
						"name": "registrant",
						"type": "nvarchar"
					},
					{
						"name": "sales_organization",
						"type": "nvarchar"
					},
					{
						"name": "sales_organization_name",
						"type": "nvarchar"
					},
					{
						"name": "distribution_channels",
						"type": "nvarchar"
					},
					{
						"name": "distribution_channels_name",
						"type": "nvarchar"
					},
					{
						"name": "product_department",
						"type": "nvarchar"
					},
					{
						"name": "product_department_name",
						"type": "nvarchar"
					},
					{
						"name": "purchase_currency",
						"type": "char"
					},
					{
						"name": "sales_unit",
						"type": "nvarchar"
					},
					{
						"name": "base_unit",
						"type": "nvarchar"
					},
					{
						"name": "condition_unit",
						"type": "nvarchar"
					},
					{
						"name": "shipping_unit_of_measure",
						"type": "nvarchar"
					},
					{
						"name": "billing_unit_of_measure",
						"type": "nvarchar"
					},
					{
						"name": "inventory_unit",
						"type": "nvarchar"
					},
					{
						"name": "direct_selling_costs_excl_fare",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "registration_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "temp_budget"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/temp_plstatement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "test_db_nsw_link_service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "実績損益"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "system_date",
						"type": "date"
					},
					{
						"name": "sales_id",
						"type": "varchar"
					},
					{
						"name": "line_num",
						"type": "int",
						"precision": 10
					},
					{
						"name": "corporate_code",
						"type": "nvarchar"
					},
					{
						"name": "source_id",
						"type": "varchar"
					},
					{
						"name": "voucher_type",
						"type": "nvarchar"
					},
					{
						"name": "sales_office",
						"type": "char"
					},
					{
						"name": "sales_office_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_group",
						"type": "char"
					},
					{
						"name": "sales_group_name",
						"type": "nvarchar"
					},
					{
						"name": "cust_account",
						"type": "varchar"
					},
					{
						"name": "cust_short_name",
						"type": "nvarchar"
					},
					{
						"name": "phone_number",
						"type": "varchar"
					},
					{
						"name": "sales_ship_to_account_num",
						"type": "varchar"
					},
					{
						"name": "sales_ship_to_short_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_name2",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_belonging",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_name_notes",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_prefectures",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_municipality",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_address",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_building_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_address_notes",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_remarks1",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_remarks2",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_remarks3",
						"type": "nvarchar"
					},
					{
						"name": "sales_ship_to_phone_num",
						"type": "varchar"
					},
					{
						"name": "sales_end_user_account_num",
						"type": "varchar"
					},
					{
						"name": "sales_end_user_short_name",
						"type": "nvarchar"
					},
					{
						"name": "invoice_account",
						"type": "varchar"
					},
					{
						"name": "sales_invoice_short_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_name2",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_belonging",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_name_notes",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_post_code",
						"type": "varchar"
					},
					{
						"name": "sales_invoice_prefectures",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_municipality",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_address",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_building_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_address_notes",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_remarks1",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_remarks2",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_remarks3",
						"type": "nvarchar"
					},
					{
						"name": "cust_collections",
						"type": "varchar"
					},
					{
						"name": "sales_cust_collection_short_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_person",
						"type": "varchar"
					},
					{
						"name": "sales_person_name",
						"type": "nvarchar"
					},
					{
						"name": "carrier_cd",
						"type": "varchar"
					},
					{
						"name": "carrier_name_alias",
						"type": "nvarchar"
					},
					{
						"name": "oem_cd",
						"type": "varchar"
					},
					{
						"name": "oem_name",
						"type": "nvarchar"
					},
					{
						"name": "oem_name2",
						"type": "nvarchar"
					},
					{
						"name": "oem_prefectures",
						"type": "nvarchar"
					},
					{
						"name": "oem_municipality",
						"type": "nvarchar"
					},
					{
						"name": "oem_address",
						"type": "nvarchar"
					},
					{
						"name": "oem_building_name",
						"type": "nvarchar"
					},
					{
						"name": "oem_address_notes",
						"type": "nvarchar"
					},
					{
						"name": "oem_remarks1",
						"type": "nvarchar"
					},
					{
						"name": "oem_remarks2",
						"type": "nvarchar"
					},
					{
						"name": "oem_remarks3",
						"type": "nvarchar"
					},
					{
						"name": "sales_vend_account_num",
						"type": "varchar"
					},
					{
						"name": "sales_vend_name_alias",
						"type": "nvarchar"
					},
					{
						"name": "customer_requirements",
						"type": "nvarchar"
					},
					{
						"name": "billing_block",
						"type": "nvarchar"
					},
					{
						"name": "item_id",
						"type": "varchar"
					},
					{
						"name": "item_name",
						"type": "nvarchar"
					},
					{
						"name": "pack_style_name",
						"type": "nvarchar"
					},
					{
						"name": "shipping_name_code",
						"type": "char"
					},
					{
						"name": "shipping_name",
						"type": "nvarchar"
					},
					{
						"name": "trade_mark_code",
						"type": "char"
					},
					{
						"name": "trade_mark_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_item_class_code",
						"type": "char"
					},
					{
						"name": "sales_item_class_name",
						"type": "nvarchar"
					},
					{
						"name": "product_item_group_code",
						"type": "varchar"
					},
					{
						"name": "product_item_group_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_item_group_code",
						"type": "varchar"
					},
					{
						"name": "sales_item_group_name",
						"type": "nvarchar"
					},
					{
						"name": "shipping_type",
						"type": "nvarchar"
					},
					{
						"name": "truck_scale_type",
						"type": "nvarchar"
					},
					{
						"name": "product_type",
						"type": "nvarchar"
					},
					{
						"name": "correction_category",
						"type": "nvarchar"
					},
					{
						"name": "invent_site_id",
						"type": "varchar"
					},
					{
						"name": "invent_site_name",
						"type": "nvarchar"
					},
					{
						"name": "invent_location_id",
						"type": "varchar"
					},
					{
						"name": "invent_location_name",
						"type": "nvarchar"
					},
					{
						"name": "receipt_date_requested",
						"type": "date"
					},
					{
						"name": "shipping_date_requested",
						"type": "date"
					},
					{
						"name": "shipping_date",
						"type": "date"
					},
					{
						"name": "sales_status",
						"type": "nvarchar"
					},
					{
						"name": "delivery_method",
						"type": "varchar"
					},
					{
						"name": "delivery_method_description",
						"type": "nvarchar"
					},
					{
						"name": "detailed_status",
						"type": "nvarchar"
					},
					{
						"name": "customer_delete_flag",
						"type": "nvarchar"
					},
					{
						"name": "customer_delete_reason",
						"type": "nvarchar"
					},
					{
						"name": "purchase_order_number",
						"type": "varchar"
					},
					{
						"name": "purchase_order_status",
						"type": "nvarchar"
					},
					{
						"name": "picking_route",
						"type": "varchar"
					},
					{
						"name": "inventory_order",
						"type": "varchar"
					},
					{
						"name": "picking_status",
						"type": "nvarchar"
					},
					{
						"name": "line_status",
						"type": "nvarchar"
					},
					{
						"name": "truck_scale_completion_flag",
						"type": "nvarchar"
					},
					{
						"name": "invoice",
						"type": "varchar"
					},
					{
						"name": "invoice_line_num",
						"type": "int",
						"precision": 10
					},
					{
						"name": "invoice_date",
						"type": "date"
					},
					{
						"name": "delivery_note_category",
						"type": "varchar"
					},
					{
						"name": "delivery_note_category_name",
						"type": "nvarchar"
					},
					{
						"name": "closing_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "created_date_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "created_by",
						"type": "nvarchar"
					},
					{
						"name": "shipping_terms",
						"type": "nvarchar"
					},
					{
						"name": "shipping_terms_description",
						"type": "nvarchar"
					},
					{
						"name": "payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "payment_terms_description",
						"type": "nvarchar"
					},
					{
						"name": "sales_consumer",
						"type": "nvarchar"
					},
					{
						"name": "updated_date_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "updated_by",
						"type": "nvarchar"
					},
					{
						"name": "profit_and_loss_department",
						"type": "nvarchar"
					},
					{
						"name": "qty_per_pack",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "sales_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "sales_unit",
						"type": "nvarchar"
					},
					{
						"name": "contract_unit_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "contract_unit_price_uom",
						"type": "nvarchar"
					},
					{
						"name": "contract_unit_price",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "net_amount",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "shipping_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "invoice_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "invoice_unit_qty",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "invoice_contract_unit_price",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "invoice_net_amount",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "consumption_tax",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "tax_rate",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "factory_variable_costs",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "factory_fixed_costs",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "direct_delivery_variable_costs",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "one_price_variable_costs",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "one_price_fixed_costs",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "accounting_currency",
						"type": "char"
					},
					{
						"name": "countryregionid",
						"type": "char"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "billinig_date",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "temp_plstatement"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_blob_storage_nsw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "test_blob_storage_nsw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "test_nsw_1",
						"container": "test-nsw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_blob_storage_nsw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_db_nsw_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "test_db_nsw_link_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "age",
						"type": "int",
						"precision": 10
					},
					{
						"name": "update_at",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "test_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_not_identity_db_nsw_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "test_db_nsw_link_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "age",
						"type": "int",
						"precision": 10
					},
					{
						"name": "update_at",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "test_table_not_identity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_cache')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "検証用"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "test_blob_storage_nsw",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"parameters{",
						"     fileName as string ('test1_20251007.csv')",
						"}",
						"source(output(",
						"          name as string,",
						"          age as short",
						"     ),",
						"     useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     container: 'test-nsw',",
						"     folderPath: 'test_nsw_1',",
						"     fileName: ($fileName),",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> source1",
						"source1 sink(validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     store: 'cache',",
						"     format: 'inline',",
						"     output: true,",
						"     saveOrder: 1) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_blob_storage_nsw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_cache_bulk')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "検証用"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "test_blob_storage_nsw",
								"type": "LinkedServiceReference"
							},
							"name": "csvFileRead"
						}
					],
					"sinks": [
						{
							"name": "csvDataInCache"
						}
					],
					"transformations": [
						{
							"name": "derivedFileNameColumn"
						},
						{
							"name": "assert1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          name as string,",
						"          age as short,",
						"          update_at as date 'yyyy/MM/dd'",
						"     ),",
						"     useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: true,",
						"     rowUrlColumn: 'filePath',",
						"     format: 'delimited',",
						"     container: 'test-nsw',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true,",
						"     wildcardPaths:['test_nsw_1/test*.csv']) ~> csvFileRead",
						"csvFileRead derive(fileName = split(filePath, '/')[size(split(filePath, '/'))],",
						"          update_at = toString(update_at, 'yyyy-MM-dd')) ~> derivedFileNameColumn",
						"derivedFileNameColumn assert(expectTrue(!isNull(update_at), false, 'assert1', null, \"update_at 列に NULL が存在する場合\"),",
						"     abort: true) ~> assert1",
						"assert1 sink(validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     store: 'cache',",
						"     format: 'inline',",
						"     output: true,",
						"     saveOrder: 1,",
						"     mapColumn(",
						"          name,",
						"          age,",
						"          update_at,",
						"          fileName",
						"     )) ~> csvDataInCache"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_blob_storage_nsw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_cache_bulk_order_received_rest')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "受注残"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "test_blob_storage_nsw",
								"type": "LinkedServiceReference"
							},
							"name": "csvFileRead"
						}
					],
					"sinks": [
						{
							"name": "csvDataInCache"
						}
					],
					"transformations": [
						{
							"name": "derivedFileNameColumn"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {処理年月} as string,",
						"          {販売注文} as string,",
						"          {明細行番号} as integer,",
						"          {伝票タイプ} as string,",
						"          {顧客} as string,",
						"          {略称} as string,",
						"          {出荷先コード} as string,",
						"          {出荷先-略称} as string,",
						"          {回収先ID} as string,",
						"          {回収先-略称} as string,",
						"          {仕入先} as string,",
						"          {仕入先-検索名} as string,",
						"          {営業所} as short,",
						"          {営業所名} as string,",
						"          {営業所グループ} as short,",
						"          {営業所グループ名} as string,",
						"          {カスタマー} as string,",
						"          {カスタマー略称} as string,",
						"          {請求先/元 ID} as string,",
						"          {請求先-略称} as string,",
						"          {請求先-名前} as string,",
						"          {営業員} as string,",
						"          {営業員名} as string,",
						"          {需要家} as string,",
						"          {運送業者} as string,",
						"          {運送業者-検索名} as string,",
						"          {品目番号} as string,",
						"          {テキスト} as string,",
						"          {荷姿名} as string,",
						"          {出荷名コード} as string,",
						"          {出荷名名称} as string,",
						"          {商標コード} as short,",
						"          {商標名} as string,",
						"          {商品大分類コード} as short,",
						"          {商品大分類名} as string,",
						"          {製品群コード} as string,",
						"          {製品群名} as string,",
						"          {商品群コード} as string,",
						"          {商品群名} as string,",
						"          {サイト} as short,",
						"          {サイト名} as string,",
						"          {倉庫} as string,",
						"          {倉庫名} as string,",
						"          {契約単位数量} as short,",
						"          {契約単価単位} as string,",
						"          {販売-数量} as short,",
						"          {販売-単位} as string,",
						"          {販売-金額} as integer,",
						"          {請求書-契約単位数量} as integer,",
						"          {請求書-契約単価単位} as string,",
						"          {請求書-金額} as integer,",
						"          {請求書-台貫金額(諸費用)} as integer,",
						"          {受注残金額} as integer,",
						"          {会計通貨} as string,",
						"          {請求書-計上日} as date 'yyyy/MM/dd',",
						"          {整理年月} as string,",
						"          {作成者} as string,",
						"          {作成日時} as timestamp 'MM/dd/yyyy HH:mm:ss',",
						"          {出荷予定日} as date 'yyyy/MM/dd',",
						"          {入荷希望日} as date 'yyyy/MM/dd'",
						"     ),",
						"     useSchema: false,",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: true,",
						"     rowUrlColumn: 'filePath',",
						"     format: 'delimited',",
						"     container: 'test-nsw',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     encodingName: 'SHIFT-JIS',",
						"     columnNamesAsHeader: true,",
						"     wildcardPaths:['受注残/*.csv']) ~> csvFileRead",
						"csvFileRead derive(fileName = split(filePath, '/')[size(split(filePath, '/'))],",
						"          {請求書-計上日} = toString({請求書-計上日}, 'yyyy-MM-dd'),",
						"          {作成日時} = toString({作成日時}, 'yyyy-MM-dd hh:mm:ss'),",
						"          {出荷予定日} = toString({出荷予定日}, 'yyyy-MM-dd'),",
						"          {入荷希望日} = toString({入荷希望日}, 'yyyy-MM-dd')) ~> derivedFileNameColumn",
						"derivedFileNameColumn sink(validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     store: 'cache',",
						"     format: 'inline',",
						"     output: true,",
						"     saveOrder: 1,",
						"     mapColumn(",
						"          process_date = {処理年月},",
						"          sales_order = {販売注文},",
						"          detail_row_number = {明細行番号},",
						"          slip_type = {伝票タイプ},",
						"          client = {顧客},",
						"          abbreviation = {略称},",
						"          shipping_destination = {出荷先コード},",
						"          shipping_destination_abbreviation = {出荷先-略称},",
						"          collection_destination_id = {回収先ID},",
						"          collection_destination_abbreviation = {回収先-略称},",
						"          supplier = {仕入先},",
						"          supplier_search_name = {仕入先-検索名},",
						"          sales_office = {営業所},",
						"          sales_office_name = {営業所名},",
						"          sales_office_group = {営業所グループ},",
						"          customer = {カスタマー},",
						"          customer_abbreviation = {カスタマー略称},",
						"          billing_address_or_old_id = {請求先/元 ID},",
						"          billing_address_abbreviation = {請求先-略称},",
						"          billing_address_name = {請求先-名前},",
						"          sales_person = {営業員},",
						"          sales_person_name = {営業員名},",
						"          consumer = {需要家},",
						"          carrier = {運送業者},",
						"          carrier_search_name = {運送業者-検索名},",
						"          item_number = {品目番号},",
						"          text = {テキスト},",
						"          packing_style_name = {荷姿名},",
						"          shipping_name_code = {出荷名コード},",
						"          shipping_destination_name = {出荷名名称},",
						"          trademark_code = {商標コード},",
						"          trademark_name = {商標名},",
						"          goods_big_classification_code = {商品大分類コード},",
						"          goods_big_classification_name = {商品大分類名},",
						"          product_group_code = {製品群コード},",
						"          product_group_name = {製品群名},",
						"          goods_group_code = {商品群コード},",
						"          goods_group_name = {商品群名},",
						"          site = {サイト},",
						"          site_name = {サイト名},",
						"          warehouse = {倉庫},",
						"          warehouse_name = {倉庫名},",
						"          contract_unit_quantity = {契約単位数量},",
						"          contract_price_unit = {契約単価単位},",
						"          sale_quantity = {販売-数量},",
						"          sale_unit = {販売-単位},",
						"          sale_amount = {販売-金額},",
						"          invoice_contract_unit_quantity = {請求書-契約単位数量},",
						"          invoice_contract_price_unit = {請求書-契約単価単位},",
						"          invoice_amount = {請求書-金額},",
						"          invoice_mimscellaneous_expenses = {請求書-台貫金額(諸費用)},",
						"          orders_remaining_amount = {受注残金額},",
						"          accountant_currency = {会計通貨},",
						"          invoice_recording_date = {請求書-計上日},",
						"          sorting_date = {整理年月},",
						"          author = {作成者},",
						"          create_at = {作成日時},",
						"          shipping_scheduled_date = {出荷予定日},",
						"          arrival_desired_date = {入荷希望日},",
						"          fileName",
						"     )) ~> csvDataInCache"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_blob_storage_nsw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/binary_common')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "test_blob_storage_nsw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "共通"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "sales-forecast-data"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_blob_storage_nsw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/backlog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExitCsvFile",
						"description": "処理対象のフォルダに CSV ファイルが存在する場合にのみ後続の処理を実行します。",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ForEachGetLatestDatetime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('FilterCsvFile').output.FilteredItemsCount, 0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "DeleteInsertCsvDataAndGroupByFileName",
									"description": "CSV ファイルから読み込んだデータを DELETE INSERT します",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "CsvDataInMiddleTable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "test_db_nsw_link_service",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": "BEGIN TRY\n\t\t\n\tBEGIN TRANSACTION;\n\n\t-- 対象テーブルの内、年月が前月、当月、来月、当月より 2 年前のデータのみ削除\n\tDELETE FROM backlog\n\tWHERE\n\t\tsystem_date IN\n\t\t(\n\t\t\tSELECT\n\t\t\t\tsystem_date\n\t\t\tFROM\n\t\t\t\ttemp_backlog\n\t\t\tGROUP BY\n\t\t\t    system_date\n\t\t)\n\t\tOR\n\t\tsystem_date <= FORMAT(DATEADD(YEAR, -2, GETDATE() AT TIME ZONE 'UTC' AT TIME ZONE 'Tokyo Standard Time'), 'yyyyMM');\n\n\t-- CSV ファイルから読み込んだデータを対象テーブルに INSERT\n\tINSERT INTO backlog\n\t(\n\t\tsystem_date,\n\t\tsales_id,\n\t\tline_num,\n\t\tvoucher_type,\n\t\tcust_account,\n\t\tcust_short_name,\n\t\tsales_ship_to_account_num,\n\t\tsales_ship_to_short_name,\n\t\tcust_collections,\n\t\tsales_cust_collection_short_name,\n\t\tsales_vend_account_num,\n\t\tsales_vend_name_alias,\n\t\tsales_office,\n\t\tsales_office_name,\n\t\tsales_group,\n\t\tsales_group_name,\n\t\tsales_end_user_account_num,\n\t\tsales_end_user_short_name,\n\t\tinvoice_account,\n\t\tsales_invoice_short_name,\n\t\tsales_invoice_name,\n\t\tsales_person,\n\t\tsales_person_name,\n\t\tsales_consumer,\n\t\tcarrier_cd,\n\t\tcarrier_name_alias,\n\t\titem_id,\n\t\titem_name,\n\t\tpack_style_name,\n\t\tshipping_name_code,\n\t\tshipping_name,\n\t\ttrade_mark_code,\n\t\ttrade_mark_name,\n\t\tsales_item_class_code,\n\t\tsales_item_class_name,\n\t\tproduct_item_group_code,\n\t\tproduct_item_group_name,\n\t\tsales_item_group_code,\n\t\tsales_item_group_name,\n\t\tinvent_site_id,\n\t\tinvent_site_name,\n\t\tinvent_location_id,\n\t\tinvent_location_name,\n\t\tcontract_unit_qty,\n\t\tcontract_unit_price_uom,\n\t\tsales_qty,\n\t\tsales_unit,\n\t\tsales_amount,\n\t\tinvoice_contract_unit_qty,\n\t\tinvoice_contract_unit_price_uom,\n\t\tinvoice_amount,\n\t\tinvoice_additional_costs,\n\t\tbacklog_amount,\n\t\taccounting_currency,\n\t\tinvoice_date,\n\t\tprocessing_date,\n\t\tcreated_by,\n\t\tcreated_date_time,\n\t\tshipping_date_requested,\n\t\treceipt_date_requested\n\t)\n\tSELECT\n\t\tsystem_date,\n\t\tsales_id,\n\t\tline_num,\n\t\tvoucher_type,\n\t\tcust_account,\n\t\tcust_short_name,\n\t\tsales_ship_to_account_num,\n\t\tsales_ship_to_short_name,\n\t\tcust_collections,\n\t\tsales_cust_collection_short_name,\n\t\tsales_vend_account_num,\n\t\tsales_vend_name_alias,\n\t\tsales_office,\n\t\tsales_office_name,\n\t\tsales_group,\n\t\tsales_group_name,\n\t\tsales_end_user_account_num,\n\t\tsales_end_user_short_name,\n\t\tinvoice_account,\n\t\tsales_invoice_short_name,\n\t\tsales_invoice_name,\n\t\tsales_person,\n\t\tsales_person_name,\n\t\tsales_consumer,\n\t\tcarrier_cd,\n\t\tcarrier_name_alias,\n\t\titem_id,\n\t\titem_name,\n\t\tpack_style_name,\n\t\tshipping_name_code,\n\t\tshipping_name,\n\t\ttrade_mark_code,\n\t\ttrade_mark_name,\n\t\tsales_item_class_code,\n\t\tsales_item_class_name,\n\t\tproduct_item_group_code,\n\t\tproduct_item_group_name,\n\t\tsales_item_group_code,\n\t\tsales_item_group_name,\n\t\tinvent_site_id,\n\t\tinvent_site_name,\n\t\tinvent_location_id,\n\t\tinvent_location_name,\n\t\tcontract_unit_qty,\n\t\tcontract_unit_price_uom,\n\t\tsales_qty,\n\t\tsales_unit,\n\t\tsales_amount,\n\t\tinvoice_contract_unit_qty,\n\t\tinvoice_contract_unit_price_uom,\n\t\tinvoice_amount,\n\t\tinvoice_additional_costs,\n\t\tbacklog_amount,\n\t\taccounting_currency,\n\t\tinvoice_date,\n\t\tprocessing_date,\n\t\tcreated_by,\n\t\tcreated_date_time,\n\t\tshipping_date_requested,\n\t\treceipt_date_requested\n\tFROM\n\t\ttemp_backlog\n\n\tCOMMIT TRANSACTION;\n\nEND TRY\n\nBEGIN CATCH\n\n\tROLLBACK TRANSACTION;\n\n\t-- ADF に異常終了を伝えるため\n\tTHROW;\n\nEND CATCH"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "TruncateMiddelTableAfterCsvFileDelete",
									"description": "中間テーブルのテーブルデータを全削除します。\n次のアクティビティで CSV ファイルを削除します。",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "DeleteInsertCsvDataAndGroupByFileName",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "test_db_nsw_link_service",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": "BEGIN TRY\r\n\r\n    -- 中間テーブルに格納されているデータを削除\r\n    TRUNCATE TABLE temp_backlog;\r\n\r\nEND TRY\r\n\r\nBEGIN CATCH\r\n\r\n\t-- ADF に異常終了を伝えるため\r\n\tTHROW;\r\n\r\nEND CATCH"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "TruncateMiddelTableNotAfterCsvFileDelete",
									"description": "中間テーブルのテーブルデータを全削除します。\n次のアクティビティで CSV ファイルを削除しません",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "DeleteInsertCsvDataAndGroupByFileName",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "test_db_nsw_link_service",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": "BEGIN TRY\r\n\r\n    -- 中間テーブルに格納されているデータを削除\r\n    TRUNCATE TABLE temp_backlog\r\n\r\nEND TRY\r\n\r\nBEGIN CATCH\r\n\r\n\t-- ADF に異常終了を伝えるため\r\n\tTHROW;\r\n\r\nEND CATCH"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "DeleteCsvFile",
									"description": "対象のフォルダ配下に存在するアイテムの内、プレフィックスが \"backlog_\" の CSV ファイルのみ削除します。",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "TruncateMiddelTableAfterCsvFileDelete",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "binary_common",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"wildcardFileName": "backlog_*.csv",
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "CsvDataInMiddleTable",
									"description": "CSV ファイルから読み込んだデータを cache に保存します。",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "csv_db_bulk_backlog_temp_table",
											"type": "DataFlowReference",
											"parameters": {
												"latestDatetimeFileName": {
													"value": "'@{variables('latestDatetimeFileName')}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"csvFileRead": {},
												"csvDataInMiddleTable": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "TruncateMiddelTableIfExitMiddelTableData",
						"description": "中間テーブルにレコードが存在する場合にのみ、中間テーブルのテーブルデータを全削除します。",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "test_db_nsw_link_service",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "BEGIN TRY\n\n    DECLARE @RecordCount INT;\n\n\tSELECT @RecordCount = COUNT(sales_id)\n\tFROM temp_backlog;\n\n\t-- 中間テーブルにレコードが存在する場合\n\tIF @RecordCount > 0\n\tBEGIN\n\t\t-- 中間テーブルに格納されているデータを削除\n\t\tTRUNCATE TABLE temp_backlog;\n\tEND\n\nEND TRY\n\nBEGIN CATCH\n\n\t-- ADF に異常終了を伝えるため\n\tTHROW;\n\nEND CATCH"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "GetFileNameList",
						"description": "対象のフォルダ配下に存在するアイテム一覧を取得します。",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "TruncateMiddelTableIfExitMiddelTableData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "binary_common",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FilterCsvFile",
						"description": "取得したアイテムの内、プレフィックスが \"backlog_\" のCSV ファイルのみを抽出します。",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileNameList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileNameList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(startswith(item().name, 'backlog'), endswith(item().name, 'csv'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachGetLatestDatetime",
						"description": "フィルタリングで残った CSV ファイルの数だけループします。",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterCsvFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterCsvFile').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "LatestDatetimeFileNameIsEmpty",
									"description": "latestDatetimeFileName の値が empty かどうか判断します。",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@empty(variables('latestDatetimeFileName'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "SetTempLatestDatetimeFileName",
												"description": "tempLatestDatetimeFileName に latestDatetimeFileName の値を設定します。",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "tempLatestDatetimeFileName",
													"value": {
														"value": "@variables('latestDatetimeFileName')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "SetLatestDatetimeFileName",
												"description": "ForEach に渡されたファイル名の日時と tempLatestDatetimeFileName の日時を比較し、最新の日時のファイル名のみを保持します。",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "SetTempLatestDatetimeFileName",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "latestDatetimeFileName",
													"value": {
														"value": "@if(greater(substring(item().name, 22, 14), substring(variables('tempLatestDatetimeFileName'), 22, 14)), item().name, variables('tempLatestDatetimeFileName'))",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "SetFileName",
												"description": "latestDatetimeFileName に ForEach に渡されたファイル名を設定します。",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "latestDatetimeFileName",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"latestDatetimeFileName": {
						"type": "String"
					},
					"tempLatestDatetimeFileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "受注残"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-09T04:54:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]",
				"[concat(variables('factoryId'), '/datasets/binary_common')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_file_delete_order_received_rest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachCsvFileDelete",
						"description": "GetCsvFileNameList で読み込んだファイル数分ループします。",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.csvFileNameList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DeleteCsvFile",
									"description": "CSVファイルを削除します。",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "binary_common",
											"type": "DatasetReference",
											"parameters": {}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "test_blob_storage_nsw",
												"type": "LinkedServiceReference"
											},
											"path": "test-nsw/test"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false,
											"wildcardFileName": {
												"value": "@{item().file_name}",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"csvFileNameList": {
						"type": "array"
					}
				},
				"folder": {
					"name": "受注残"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-03T10:43:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/binary_common')]",
				"[concat(variables('factoryId'), '/linkedServices/test_blob_storage_nsw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_csv_file_delete')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachCsvFileDelete",
						"description": "GetCsvFileNameList で読み込んだファイル数分ループします。",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.csvFileNameList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DeleteCsvFile",
									"description": "CSVファイルを削除します。",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "test_blob_storage_nsw",
											"type": "DatasetReference",
											"parameters": {}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "test_blob_storage_nsw",
												"type": "LinkedServiceReference"
											},
											"path": "test-nsw/test"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false,
											"wildcardFileName": {
												"value": "@{item().fileName}",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"csvFileNameList": {
						"type": "array"
					}
				},
				"folder": {
					"name": "検証用"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-03T10:43:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/test_blob_storage_nsw')]",
				"[concat(variables('factoryId'), '/linkedServices/test_blob_storage_nsw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_csv_to_db_script_bulk_date_in_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachCsvFileDelete",
						"description": "GetCsvFileNameList で読み込んだファイル数分ループします。",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DeleteInsertCsvDataAndGroupByFileName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('DeleteInsertCsvDataAndGroupByFileName').output.resultSets[0].rows",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DeleteCsvFile",
									"description": "CSVファイルを削除します。",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "test_blob_storage_nsw",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"wildcardFileName": {
												"value": "@item().fileName",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "CsvDataInCache",
						"description": "CSV ファイルから読み込んだデータを cache に保存します。",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "csv_cache_bulk",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"csvFileRead": {},
									"csvDataInCache": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {}
						}
					},
					{
						"name": "DeleteInsertCsvDataAndGroupByFileName",
						"description": "削除対象のファイル名をグループ化します。",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "CsvDataInCache",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "test_db_nsw_link_service",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "csvDataJson",
											"type": "String",
											"value": {
												"value": "@string(activity('CsvDataInCache').output.runStatus.output.csvDataInCache.value)",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "BEGIN TRY\n\t\t\n\tBEGIN TRANSACTION;\n\n\t-- 対象テーブルの内、日時が当月のデータのみ削除\n\tDELETE FROM test_table\n\tWHERE\n\t\tFORMAT(update_at, 'yyyyMM') = \n\t\t(\n\t\t\tSELECT\n\t\t\t\tREPLACE(LEFT(update_at, 7), '-', '') AS yearManth\n\t\t\tFROM\n\t\t\t\tOPENJSON(@csvDataJson)\n\t\t\t\tWITH (\n\t\t\t\t\tupdate_at date\n\t\t\t\t)\n\t\t\tGROUP BY REPLACE(LEFT(update_at, 7), '-', '')\n\t\t);\t\n\n\t-- CSV ファイルから読み込んだデータを対象テーブルに INSERT\n\tINSERT INTO test_table(name, age, update_at)\n\tSELECT\n\t\tname,\n\t\tage,\n\t\tFORMAT(GETDATE(),'yyyy-MM-dd')\n\tFROM\n\t\tOPENJSON(@csvDataJson)\n\t\tWITH (\n\t\t\tname NVARCHAR(100),\n\t\t\tage INT\n\t\t);\n\n    SELECT\n        fileName\n    FROM\n        OPENJSON(@csvDataJson)\n        WITH (\n            fileName NVARCHAR(MAX)\n        )\n    GROUP BY fileName\n\n\tCOMMIT TRANSACTION;\n\nEND TRY\n\nBEGIN CATCH\n\n\tROLLBACK TRANSACTION;\n\n\t-- ADF に異常終了を伝えるため\n\tTHROW;\n\nEND CATCH"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "検証用"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-09T04:54:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/csv_cache_bulk')]",
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]",
				"[concat(variables('factoryId'), '/datasets/test_blob_storage_nsw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_csv_to_db_stored_procedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCsvFileNameList",
						"description": "対象のフォルダ配下に存在するファイル名一覧を取得します。",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "test_blob_storage_nsw",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "DeleteInsertCsvData",
						"description": "対象テーブルから条件に合致するレコードを削除した後、CSV ファイルから読み込んだデータを対象テーブルに INSERT します。",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachCsvFileRead",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[test_csv_to_db]",
							"storedProcedureParameters": {
								"csvDataJson": {
									"value": {
										"value": "@concat('[', substring(variables('csvDataJson'), 0, sub(length(variables('csvDataJson')), 1)), ']')\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"fileName": {
									"value": {
										"value": "@string(activity('FilterCsvFile').output.value)\n",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "test_db_nsw_link_service",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEachCsvFileRead",
						"description": "GetCsvFileNameList で読み込んだファイル数分ループします。",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterCsvFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterCsvFile').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CsvDataInCache",
									"description": "CSV ファイルから読み込んだデータを cache に保存します。",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "csv_cache",
											"type": "DataFlowReference",
											"parameters": {
												"fileName": {
													"value": "'@{item().name}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "None",
										"cacheSinks": {}
									}
								},
								{
									"name": "SetCsvDataJson",
									"description": "各 CSV ファイルのデータを1つの文字列　として結合します。",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SetTempCsvDataJson",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "csvDataJson",
										"value": {
											"value": "@concat(replace(replace(variables('tempCsvDataJson'), '[', ''), ']', '')\n, replace(replace(string(activity('CsvDataInCache').output.runStatus.output.sink1.value), '[', ''), ']', '')\n, ',')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SetTempCsvDataJson",
									"description": "SetCsvDataJson の値を一時退避します。",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "CsvDataInCache",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "tempCsvDataJson",
										"value": {
											"value": "@variables('csvDataJson')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEachCsvFileDelete",
						"description": "GetCsvFileNameList で読み込んだファイル数分ループします。",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DeleteInsertCsvData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterCsvFile').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DeleteCsvFile",
									"description": "CSVファイルを削除します。",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "test_blob_storage_nsw",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"wildcardFileName": {
												"value": "@item().name",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "FilterCsvFile",
						"description": "取得したファイルの内、CSV ファイルのみを抽出します。",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetCsvFileNameList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetCsvFileNameList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name, 'csv')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"csvDataJson": {
						"type": "String"
					},
					"tempCsvDataJson": {
						"type": "String"
					}
				},
				"folder": {
					"name": "検証用"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-09T01:55:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/test_blob_storage_nsw')]",
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]",
				"[concat(variables('factoryId'), '/dataflows/csv_cache')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_csv_to_db_stored_procedure_bulk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DeleteInsertCsvData",
						"description": "対象テーブルから条件に合致するレコードを削除した後、CSV ファイルから読み込んだデータを対象テーブルに INSERT します。\nまた、削除対象の CSV ファイル名一覧を 出力します。",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CsvDataInCache",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[test_csv_to_db_output_filename]",
							"storedProcedureParameters": {
								"csvDataJson": {
									"value": {
										"value": "@string(activity('CsvDataInCache').output.runStatus.output.csvDataInCache.value)",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "test_db_nsw_link_service",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEachCsvFileDelete",
						"description": "GetCsvFileNameList で読み込んだファイル数分ループします。",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GroupByFileName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GroupByFileName').output.resultSets[0].rows",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DeleteCsvFile",
									"description": "CSVファイルを削除します。",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "test_blob_storage_nsw",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"wildcardFileName": {
												"value": "@item().fileName",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "CsvDataInCache",
						"description": "CSV ファイルから読み込んだデータを cache に保存します。",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "csv_cache_bulk",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"csvFileRead": {},
									"csvDataInCache": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {}
						}
					},
					{
						"name": "GroupByFileName",
						"description": "削除対象のファイル名をグループ化します。",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "DeleteInsertCsvData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "test_db_nsw_link_service",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "csvDataJson",
											"type": "String",
											"value": {
												"value": "@string(activity('CsvDataInCache').output.runStatus.output.csvDataInCache.value)",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "SELECT\r\n    fileName\r\nFROM\r\n    OPENJSON(@csvDataJson)\r\n    WITH (\r\n        fileName NVARCHAR(MAX)\r\n    )\r\nGROUP BY fileName"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "検証用"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-09T04:54:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/test_db_nsw_link_service')]",
				"[concat(variables('factoryId'), '/dataflows/csv_cache_bulk')]",
				"[concat(variables('factoryId'), '/datasets/test_blob_storage_nsw')]"
			]
		}
	]
}